<app-narvar></app-narvar>
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Welcome to sofka Bank <br />
          <span style="color: hsl(218, 81%, 75%)">for your business</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          This bank offers transfer services between how many at no cost,
          in addition to minimal handling fees, you can also have several
          types of accounts and transfer between accounts of different banks,
          Here you can see your account details and balance.
        </p>

      </div>
      <h1 *ngIf="state"> ultima cuenta con la que interactuo: {{state}}</h1>
      <div *ngFor="let account of accounts">
        <app-account-data [account]="account" (favorite)="favoriteAccount($event)"></app-account-data>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <!-- <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">

          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
