
<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          Welcome to sofka Bank <br />
          <span style="color: hsl(218, 81%, 75%)">for your business</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          This bank offers transfer services between how many at no cost,
          in addition to minimal handling fees, you can also have several
          types of accounts and transfer between accounts of different banks
        </p>

      <form
        id="transfer-login"
        class="box form-login"
        (ngSubmit)="createTransfer()"
        [formGroup]="frmTransfer"
      >
        <h1>Transferencia</h1>

        <input
          type="text"
          name="income"
          formControlName="income"
          placeholder="Income"
        />
        <div
          class="text-danger div-alert"
          *ngIf="
            frmTransfer.get('income')?.hasError('required') &&
            frmTransfer.get('income')?.touched
          "
        >
          *El número de cuenta es obligatoria
        </div>
        <div
          class="text-danger div-alert"
          *ngIf="
            frmTransfer.get('income')?.hasError('minlength') &&
            frmTransfer.get('income')?.touched
          "
        >
          *El número de cuenta es incorrecto
        </div>
        <input
          type="number"
          name="amount"
          formControlName="amount"
          placeholder="cantidad"
        />
        <div
          class="text-danger div-alert"
          *ngIf="
            frmTransfer.get('amount')?.hasError('required') &&
            frmTransfer.get('amount')?.touched
          "
        >
          *El valor es obligatorio
        </div>
        <input
          type="text"
          name="outcome"
          formControlName="outcome"
          placeholder="outcome"
        />
        <div
          class="text-danger div-alert"
          *ngIf="
            frmTransfer.get('outcome')?.hasError('required') &&
            frmTransfer.get('outcome')?.touched
          "
        >
          *El número de cuenta es obligatoria
        </div>
        <div
          class="text-danger div-alert"
          *ngIf="
            frmTransfer.get('outcome')?.hasError('minlength') &&
            frmTransfer.get('outcome')?.touched
          "
        >
          *El número de cuenta es incorrecto
        </div>
        <div
          class="text-danger div-alert"
          *ngIf="
            frmTransfer.get('amount')?.hasError('pattern') &&
            frmTransfer.get('amount')?.touched
          "
        >
          *El valor no es valido
        </div>
        <input
          type="text"
          name="reason"
          formControlName="reason"
          placeholder="Razón de la transferencia"
        />
        <div
          class="text-danger div-alert"
          *ngIf="
            frmTransfer.get('reason')?.hasError('required') &&
            frmTransfer.get('reason')?.touched
          "
        >
          *La razón de la transferencia es obligatoria
        </div>
        <div
          class="text-danger div-alert"
          *ngIf="
            frmTransfer.get('reason')?.hasError('minLength') &&
            frmTransfer.get('reason')?.touched
          "
        >
          *La razón de la transferencia es de mínimo un carácter
        </div>
        <div
          class="text-danger div-alert"
          *ngIf="
            frmTransfer.get('reason')?.hasError('maxLength') &&
            frmTransfer.get('reason')?.touched
          "
        >
          *La razón de la transferencia es de máximo 500 carácter
        </div>
        <input
          type="submit"
          form="transfer-login"
          name=""
          value="enviar"
          [disabled]="frmTransfer.invalid"
          href="#"
        />
        <br />
      </form>
