.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.altoMensaje{
  height: 15px;
  color: red;
}
.btn-google {
  display: inline-block;
  background-color: white;
  color: #4285f4;
  border: 1px solid #4285f4;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 24px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: #4285f4;
    color: white;
  }

  &:active {
    background-color: #1669f2;
    border: 1px solid #1669f2;
    color: white;
  }

  &.yellow {
    color: #fbbc04;
    border: 1px solid #fbbc04;

    &:hover {
      background-color: #fbbc04;
      color: white;
    }

    &:active {
      background-color: #ea8a00;
      border: 1px solid #ea8a00;
      color: white;
    }
  }

  &.green {
    color: #34a853;
    border: 1px solid #34a853;

    &:hover {
      background-color: #34a853;
      color: white;
    }

    &:active {
      background-color: #1e7f33;
      border: 1px solid #1e7f33;
      color: white;
    }
  }
}

